In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import tqdm
from pathlib import Path

In [2]:
# Read data
screener_path  = Path('../data/nasdaq_screener_20250513.csv')
screener = pd.read_csv(screener_path)
snp_path  = Path('../data/snp500.csv')
snp = pd.read_csv(snp_path)
snp

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [11]:
stock = yf.download(snp['Symbol'].tolist())

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: YFPricesMissingError('possibly delisted; no price data found  (1d 1926-06-07 -> 2025-05-13)')
['BRK.B']: YFTzMissingError('possibly delisted; no timezone found')

In [12]:
stock

Price      Adj Close             Close                                      \
Ticker          BF.B BRK.B           A        AAPL        ABBV        ABNB
Date
1962-01-02       NaN   NaN         NaN         NaN         NaN         NaN
1962-01-03       NaN   NaN         NaN         NaN         NaN         NaN
1962-01-04       NaN   NaN         NaN         NaN         NaN         NaN
1962-01-05       NaN   NaN         NaN         NaN         NaN         NaN
1962-01-08       NaN   NaN         NaN         NaN         NaN         NaN
...              ...   ...         ...         ...         ...         ...
2025-05-07       NaN   NaN  107.519997  195.992981  188.089996  123.120003
2025-05-08       NaN   NaN  108.699997  197.231369  185.580002  126.389999
2025-05-09       NaN   NaN  106.930000  198.270004  184.600006  127.040001
2025-05-12       NaN   NaN  115.550003  210.789993  190.070007  134.210007
2025-05-13       NaN   NaN  115.419998  212.929993  188.000000  138.050003

Price                                                      ...    Volume  \
Ticker             ABT       ACGL         ACN        ADBE  ...       WTW
Date                                                       ...
1962-01-02         NaN        NaN         NaN         NaN  ...       NaN
1962-01-03         NaN        NaN         NaN         NaN  ...       NaN
1962-01-04         NaN        NaN         NaN         NaN  ...       NaN
1962-01-05         NaN        NaN         NaN         NaN  ...       NaN
1962-01-08         NaN        NaN         NaN         NaN  ...       NaN
...                ...        ...         ...         ...  ...       ...
2025-05-07  133.949997  92.690002  306.089996  384.970001  ...  816100.0
2025-05-08  134.000000  94.559998  308.880005  383.989990  ...  706800.0
2025-05-09  133.240005  94.540001  307.899994  383.279999  ...  396300.0
2025-05-12  131.990005  94.629997  322.089996  395.940002  ...  487800.0
2025-05-13  129.050003  93.419998  322.529999  397.399994  ...  404309.0

Price                                                                        \
Ticker             WY       WYNN        XEL       XOM        XYL        YUM
Date
1962-01-02        NaN        NaN        NaN    902400        NaN        NaN
1962-01-03        NaN        NaN        NaN   1200000        NaN        NaN
1962-01-04        NaN        NaN        NaN   1088000        NaN        NaN
1962-01-05        NaN        NaN        NaN   1222400        NaN        NaN
1962-01-08        NaN        NaN        NaN   1388800        NaN        NaN
...               ...        ...        ...       ...        ...        ...
2025-05-07  4117600.0  3846700.0  4552300.0  12332200  1664200.0  1416000.0
2025-05-08  3812400.0  3041300.0  3160000.0  19196500   986100.0  1410900.0
2025-05-09  4948200.0  3216400.0  2479300.0  10992100   664800.0  1068500.0
2025-05-12  3661700.0  4639900.0  4783700.0  14244600  1531600.0  1552700.0
2025-05-13  3641828.0  2454120.0  4959354.0  13282065  1172065.0  1849227.0

Price
Ticker            ZBH       ZBRA        ZTS
Date
1962-01-02        NaN        NaN        NaN
1962-01-03        NaN        NaN        NaN
1962-01-04        NaN        NaN        NaN
1962-01-05        NaN        NaN        NaN
1962-01-08        NaN        NaN        NaN
...               ...        ...        ...
2025-05-07  2662400.0   822600.0  4453800.0
2025-05-08  2886100.0   711000.0  5580100.0
2025-05-09  3438600.0   700800.0  4243100.0
2025-05-12  3166300.0  1726700.0  3453700.0
2025-05-13  2283103.0   824496.0  3328669.0

[15948 rows x 2517 columns]

In [14]:
stock.to_csv('../data/snp500_stock_all_time_raw.csv')

In [31]:
stock_filtered = stock.copy()
stock_filtered = stock_filtered['Close']
stock_filtered = stock_filtered[stock_filtered.index >= '2023-01-01']
stock_filtered = stock_filtered.dropna(axis=1)
stock_filtered

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-03,147.617630,123.470604,147.798233,84.900002,104.295929,59.393120,259.429901,336.920013,156.075989,83.634399,...,237.964828,28.269896,83.789803,64.703819,98.713257,107.810158,121.609077,124.954796,260.200012,143.177979
2023-01-04,149.221283,124.744125,148.990585,88.720001,105.847336,59.687901,258.546783,341.410004,159.400269,80.593147,...,239.236298,28.608841,88.967339,65.257874,99.000565,107.644684,123.256584,126.113251,262.989990,145.235199
2023-01-05,149.654190,123.421265,148.808548,87.709999,105.457100,59.849552,252.441666,328.440002,153.424271,78.578087,...,239.187729,27.756899,89.397980,63.937378,101.215599,104.588295,122.317886,123.776718,260.059998,141.812988
2023-01-06,145.285889,127.962418,151.593781,88.519997,106.913322,60.762417,258.421997,332.750000,159.025543,80.182678,...,245.972031,28.956947,91.580559,65.830399,102.438988,108.306564,124.798729,123.403656,273.420013,143.948196
2023-01-09,145.089111,128.485657,147.142868,89.239998,106.741997,59.592808,262.780090,341.980011,160.543549,79.641586,...,247.554092,28.782894,92.324417,66.467552,100.529778,108.812714,124.291061,123.747261,279.290009,143.382721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-07,107.519997,195.992981,188.089996,123.120003,133.949997,92.690002,306.089996,384.970001,199.860001,47.880001,...,306.019989,25.820000,84.120003,71.360001,104.610001,121.089996,149.479996,94.129997,257.279999,155.990005
2025-05-08,108.699997,197.231369,185.580002,126.389999,134.000000,94.559998,308.880005,383.989990,202.779999,47.700001,...,309.170013,25.940001,86.589996,70.169998,106.070000,123.309998,147.979996,95.110001,265.369995,161.690002
2025-05-09,106.930000,198.270004,184.600006,127.040001,133.240005,94.540001,307.899994,383.279999,207.509995,48.529999,...,309.070007,26.209999,87.930000,70.610001,107.309998,122.849998,147.130005,95.209999,266.709991,159.270004
2025-05-12,115.550003,210.789993,190.070007,134.210007,131.990005,94.629997,322.089996,395.940002,223.149994,49.900002,...,307.459991,26.969999,95.160004,67.779999,109.160004,127.250000,146.800003,98.220001,300.109985,161.919998
2025-05-13,115.419998,212.929993,188.000000,138.050003,129.050003,93.419998,322.529999,397.399994,226.679993,50.689999,...,304.209991,26.690001,96.790001,68.309998,109.459999,126.930000,145.720001,97.489998,302.380005,160.410004

In [32]:
stock_filtered.to_csv('../data/snp500_stock_2023_cleaned.csv')